doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Cubone
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  link(rel='stylesheet' href='styles.css')
.card
  .card-body
    .col-1-1
      #openBall.col-1-1(align='center')
        img(src='closedBall.png' alt='open pokeball')
      #sprite(align='center')
    #text.col-1-1
      h5.card-title(align='center')
      p.card-text(align='center')
    .col-1-1
      div(align='center')
        a.btn.btn-secondary(href='/') Back
script(src='pokemon.js')
script(src='pokeball.js')
